<div class="pageCenter">
    <div class="middle">
        <!-- Display loader and checkmark when download completes -->
        <div *ngIf="!error"
             [ngClass]="downloadComplete==true && !error == true ? 'load-complete circle-loader':'circle-loader'">
            <div *ngIf="downloadComplete && !error" class="checkmark draw"></div>
        </div>
        <br><br>

        <!--Display error message on error-->
        <div *ngIf="error" class="animate-bottom inner">
            <div class="alert alert-danger" style="width:50%;display:table;margin:0 auto">
                <strong>{{message}}</strong>
            </div>
        </div>

        <div *ngIf="loading && !error" style="font-size: large"><strong>Connecting to PD <span
            style="width: 25px;display: inline-block;text-align: left" class="loading"></span></strong></div>

        <div *ngIf="!loading && !downloadComplete && !error && mode=='download'" style="text-align: center;font-size: large"><strong>Downloading
            <span id="percentage">0</span> %</strong>
        </div>

        <div *ngIf="!loading && !downloadComplete && !error && mode!='download' && uploadInProgress" style="text-align: center;font-size: large"><strong>Uploading
            <span id="percentage">0</span> %</strong>
        </div>

        <div *ngIf="!error && downloadComplete" class="animate-bottom inner">
            <strong style="font-size: x-large;color:#0000FF">Completed !</strong>
            <p>Thanks for using Pocket Drive service</p>
        </div>

        <div *ngIf="!error && mode!='download'">
            <br>

            <div class="container col-sm-4 col-sm-offset-4">
                <div class="row">
                    <div>
                        <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip;  <input (change)="fileChangeEvent($event)" type="file" single>
                            </span>
                        </span>
                            <input value="{{fileName}}" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <br>
                    <div>
                        <span (click)="startUpload()" *ngIf="enableUpload && fileName" class="btn btn-primary btn-file">
                            Upload
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

