<!--The whole content below can be removed with the new code.-->
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .pageCenter {
        position: absolute;
        height: 100%;
        width: 100%;
        display: table;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div  class="pageCenter">
    <div class="middle">
        <div class="loader inner"></div>
        <br><br>
        <div *ngIf="loading" style="text-align: center"><strong>Connecting to PD</strong></div>
        <div *ngIf="!loading" style="text-align: center"><strong>Downloading <span id="percentage"></span> %</strong></div>
    </div>
</div>

